*{
    margin: 8px; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,rgb(19, 102, 237),rgb(55, 187, 231));
}
h1{
    color: rgb(232, 157, 27);
}

header{
    position: relative;
    text-align: center;
}

.card {
    border-radius: 1rem;
  }
  .priceing{
    position: relative;
    display: inline;
    margin-right: 0;
  }
  .pricing{
    position: relative;
    display: inline;
    margin-left: 0;
  }
